<div class="form-signin" >
<!--  *ngFor="pacient"-->
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Actualizare date pacient</h1>
    <input formControlName="username" type="username" class="form-control" placeholder="Username">
    <input formControlName="nume" type="nume" class="form-control" placeholder="Nume">
    <input formControlName="prenume" type="prenume" class="form-control" placeholder="Prenume">
    <input formControlName="varsta" type="varsta" class="form-control" placeholder="Varsta">
    <input formControlName="cnp" type="cnp" class="form-control" placeholder="CNP">
    <input formControlName="judet" type="judet" class="form-control" placeholder="Judet">
    <input formControlName="localitate" type="localitate" class="form-control" placeholder="Localitate">
    <input formControlName="strada" type="strada" class="form-control" placeholder="Strada">
    <input formControlName="numar" type="numar" class="form-control" placeholder="Numar">
    <input formControlName="telefon" type="telefon" class="form-control" placeholder="Telefon">
    <input formControlName="email" type="email" class="form-control" placeholder="Email">
    <input formControlName="profesie" type="profesie" class="form-control" placeholder="Profesie">
    <input formControlName="locDeMunca" type="locDeMunca" class="form-control" placeholder="Loc de munca">

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</div>
